@using DocumentAnnotation.Pages.Documents
@model DocumentAnnotation.Pages.Documents.IndexModel


<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Created by</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DocumentAnnotation)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Text.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
            <td>
                <a asp-page="/Annotate/Edit" asp-route-docAnnId="@item.DocumentAnnotationId">
                    <strong>Annotate</strong>
                </a> |
                <a asp-page="/Documents/Edit" asp-route-id="@item.DocumentAnnotationId">Edit details</a> |
                <a asp-page="/Documents/Delete" asp-route-id="@item.DocumentAnnotationId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>