@model DocumentAnnotation.Pages.Texts.TextListModel

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text[0].Abbreviation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Text)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
                <a asp-page="/Texts/View/Index" asp-route-textIdentifier="@item.Identifier">Read</a> |
                @if (Model.CurrentUser.IsInRole("Admin"))
                {
                    <a asp-page="/Texts/Edit" asp-route-id="@item.TextId">Edit</a>
                    <text> |</text>
                }
                <a asp-page="/Texts/Details" asp-route-id="@item.TextId">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>