<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DocumentAnnotation</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @RenderSection("Styles", false)
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" asp-page="/Index">DocumentAnnotation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-page="/Documents/Index">My Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Texts/Index">Texts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reload-texts-button" href="#"><img src="~/images/iconic/reload.svg" alt="Reload texts"/> Reload texts</a>
                
            </li>
            
           
            
        </ul>
        @await Html.PartialAsync("Partials/_LoginPartial")
            
        
    </div>
</nav>

<div class="container-fluid body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - server</p>
    </footer>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-rotate/rotate.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $(function () {
        $("#reload-texts-button").click(function(e) {
            e.preventDefault();
            $.post("@Url.Action("Reload","Reload")");
            $("#reload-texts-button > img").rotate({
                angle: 0,
                animateTo: 360
            });
            /*setTimeout(() => {
                    $("#reload-texts-button > img").rotate(0);
                },
                1000);*/

        });
    })
</script>
@RenderSection("Scripts", required: false)
</body>
</html>