@using DocumentAnnotation.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Annotations</title>


    @await Html.WebpackStylesAsync("page-common")
    @RenderSection("Styles", false)
</head>
<body>
@await Html.PartialAsync("Partials/_HeaderPartial")

<div class="container-fluid body-content">
    <div class="row">
        <div id="contentContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (ViewData["UsePageTitle"] is null || (bool)ViewData["UsePageTitle"] )
            {
                <div id="title">
                    <h2>@ViewData["PageTitle"]</h2>

                    <h4>@ViewData["PageSubtitle"]</h4>
                    <p class="">@ViewData["PageExtraText"]</p>
                    <hr/>
                </div>
            }
            @RenderBody()
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            @RenderSection("Sidebar", false)
        </div>
    </div>

    <hr id="footer-hr"/>
    <footer>
        <p>&copy; 2018 Max Cairney-Leeming</p>
    </footer>
</div>


@await Html.WebpackScriptsAsync("page-common")
@RenderSection("Scripts", required: false)
</body>
</html>