@page
@using DocumentAnnotation.Extensions
@using DocumentAnnotation.Pages.Partials
@using DocumentAnnotation.Pages.Texts.View
@using Serilog
@model DocumentAnnotation.Pages.Texts.View.IndexModel

@{
    ViewData["Title"] = Model.TextData.Title + ", " + Model.TextData.Author;
}

@section Styles {
    @await Html.WebpackStylesAsync("page-text-view")
}

@section Scripts {
    @await Html.WebpackScriptsAsync("page-text-view")
    @Html.JsonDataBlock("text-names", Model.Text.CloneNames())
    @Html.JsonDataBlock("info", new
    {
        bookId = Model.Book.Name,
        sectionId = Model.Section.Name,
    })

}

<h2>@(Model.TextData.Title + ", " + Model.TextData.Author)</h2>


<div class="row">
    <div class="col-md-8">

        <h3>Book @Html.DisplayFor(m => m.Book.Name), Section @Html.DisplayFor(m => m.Section.Name)</h3>
        <hr/>
        @await Html.PartialAsync("Partials/TextPartial", new TextPartial(Model.Groups, Model.TextData.AddNewLine))
    </div>
    <div class="col-md-4">
        @await Html.PartialAsync("Partials/TextNavigation")
        @await Html.PartialAsync("Partials/TextDetails", new TextDetails(Model.TextData, Model.Book.Name, Model.Section.Name))
    </div>
</div>