@page
@model DocumentAnnotation.Pages.Admin.LinkShorteners.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkShorteners[0].ShortLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkShorteners[0].OriginalLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LinkShorteners) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalLink)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LinkShortenerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LinkShortenerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LinkShortenerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
